@charset "UTF-8";

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(red, green);
  color: #fff;
  font-family: system-ui, -apple-system, sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: -80px 0 40px;
}

.year {
  font-size: 200px;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  display: none;
  transform: scale(2);
}

.time {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time h2 {
  margin: 0 0 5px;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 1.9rem;
  font-weight: 600;
}

.loading {
  border: 10px solid gray;
  border-top-color: blue;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  animation: loading .7s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .year {
    font-size: 9rem;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time .time-name {
    font-size: 10px;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    font-size: 1.3rem;
    font-weight: 600;
  }
}